@charset "UTF-8";

*{
  margin: 0;
  font-size: large;
}

#container{
  margin-top: 3%;
  width: 100%;
}

dl {
  width: 50%;
  margin: 0 auto;
}

dt {
  padding: 2%;
  cursor: pointer;
  align-items: center;
  border-top: 1px solid #818181;
  border-bottom: 1px solid #818181;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

dd {
  padding: 3% 5%; 
  background-color: #F6EFEF;
  border-collapse: collapse;
}

.img-wrap{
  width: 100%;
  display: inline-block;
  align-items: flex-start;
  margin-top: 1.5%;
}

.QnA{
  display: inline-block;
  vertical-align: middle;
  width: 4%;
  height: 4%;
  margin-right: 1%;
  margin-bottom: 0.5%;
}

dd .QnA{
  margin-bottom: 2%;
}

.arrow {
  width: 7%;
  float: right;
}

.arrow .arr-img{
  width: 100%;
}

