@charset "UTF-8";
@media print{
  * {
    font-size: medium;
  }
}

*{
  margin: 0;
}

html,
body {
  height: 100%;
}

dl {
  width: 50%;
  margin: 0 auto;
}

dt {
  padding: 2%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

dd {
  padding: 2%; 
  background-color: #F6EFEF;
  border-top: 1px solid #818181;
  border-bottom: 1px solid #818181;
}